{% extends 'base.html' %}

{% block title %}Create a new Family Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="card" style="width: 45rem;">
        <div class="card-body">
        <h5 class="card-title">Create Post</h5>
        <br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.title }} 
                {{ form.tags }} 
                {{ form.category }}
                
                {{ form.postmedias }} <br/><br/>
                {{ form.body }} <br/>
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>
        </div>
    </div>

    <!--script>
        var author_id = "{{ user.id }}";
        document.getElementById("author_id").value = author_id;
    </script-->


{% else %}
    You are not logged in.
{% endif %}

{% endblock %}