.caroimg {
  width: auto;
  height: 480px;
}

.carovid {
  width: 640px;
  height: 480px;
}

.profile_pic {
    width: 50px;
  height: 50px;
}

.TDprofile_pic {
  width: 60px;

}

.profile_pic_small {
  width: 40px;
height: 40px;
}

.carousel-indicators {
  bottom: 18px;
}

.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.carousel .carousel-indicators .active {
  width: 15px;
  height: 15px;
  background-color: rgb(222, 231, 98);
  border-radius: 100%;
}

